<ion-view view-title="SQ 123">
  <ion-nav-buttons side="left">
    <a href="#/tab/flights" class="button button-clear icon ion-chevron-left"><b>Flights</b></a>
  </ion-nav-buttons>
  <ion-content padding="true">
    <a href="#/luggage_request" class="button button-assertive button-block">LUGGAGE SPACES</a>
    <a class="button button-energized button-block" href="#/travelfrom">TRAVEL</a>
    <a class="button button-calm button-block ">RECOMMENDATIONS</a>
  </ion-content>
</ion-view>

<!--<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  <ion-tab title="Flights" icon-off="ion-ios-paperplane-outline" icon-on="ion-ios-paperplane" href="#/tab/flights">
    <ion-nav-view name="tab-flights"></ion-nav-view>
  </ion-tab>
  
  <ion-tab title="Favourites" icon-off="ion-ios-star-outline" icon-on="ion-ios-star" href="#/tab/favourite">
    <ion-nav-view name="tab-favourite"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>
</ion-tabs>-->