<ion-view title="Login">
    <ion-content padding="true" class="has-header">
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; width: 100%; height: 185px; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <form>
            <ion-list></ion-list>
            <div>
                <label class="item item-input">
                    <input type="text" placeholder="Username" ng-model='user.email'>
                </label>
            </div>
            <div>
                <label class="item item-input">
                    <input type="password" placeholder="Password" ng-model='user.password'>
                </label>
            </div>
        </form>
        <div class="button-bar">
            <a href="#/signup" class="button button-stable button-block">Sign up</a>
            <a href="#" ng-click='login(user)' class="button button-stable button-block ">Login</a>
        </div>
        <button class="button  button-clear ">Forget Password?</button>
    </ion-content>
</ion-view>