<ion-view view-title="New Request">
<ion-nav-bar>
  <ion-nav-back-button>
  </ion-nav-back-button>
</ion-nav-bar>
<ion-content padding="true" class="has-header">
<label class="item item-input item-select">
	<div class="input-label">
		How much space? (in multiples of 2kg)
	</div>
	<select ng-model='weight'>
		<option value=2>2kg</option>
		<option value=4>4kg</option>
		<option value=6>6kg</option>
		<option value=8>8kg</option>
		<option value=10>10kg</option>
		<option value=12>12kg</option>
		<option value=14>14kg</option>
		<option value=16>16kg</option>
		<option value=18>18kg</option>
		<option value=20>20kg</option>
	</select>
</label>
<p></p>
<a href="#" class="button button-large" ng-click='addThread(weight)'>Submit</a>
</ion-content>
</ion-view>