<ion-view view-title="Luggage Request">
<ion-nav-bar>
  <ion-nav-back-button>
  </ion-nav-back-button>
</ion-nav-bar>
<ion-content padding="true" scroll="false" class="has-header">
<div class="list card">
	<div class="item item-avatar">
	  <img src="img/GianJX.jpg">
	  {{detailThread.creatorName}}
    </div>
    <div>Available Space: {{detailThread.weight}}kg</div>
   <label class="item item-input item-select">
	<div class="input-label">
		Offer:
	</div>
	<select>
		<option>2kg</option>
		<option>4kg</option>
		<option>6kg</option>
		<option>8kg</option>
	</select>
</label>
<p></p>
<div class="button-bar">
	<a class="button">Chat</a>
	<a href="#" ng-click='removeThread(detailThread)' class="button">Offer</a>
	</div>
</div>
</ion-content>
</ion-view>