<ion-view view-title="Luggage Requests">
<ion-nav-bar>
  <ion-nav-back-button>
  </ion-nav-back-button>
</ion-nav-bar>
  <ion-nav-buttons side="right">
    <a href="#/luggage_new" class="button button-clear icon ion-plus"></a>
  </ion-nav-buttons>
  <ion-content padding="true" scrolling ="true" class="has-header">
    <div class="list" ng-repeat='thread in threads|filter:{type:"Luggage"}'>
	   <a href="#" ng-click='detailShow(thread.$id)' class="item item-avatar">
       <img src="img/GianJX.jpg">{{thread.creatorName}} needs {{thread.weight}}kg!!
       </a>
    </div>
  </ion-content>
</ion-view>
