<ion-view title="Signup">
    <ion-content padding="true" scroll="false" class="has-header">
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; width: 100%; height: 185px; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <form>
            <ion-list></ion-list>
            <div>
                <label class="item item-input">
                    <input type="text" placeholder="Email" ng-model='user.email'>
                </label>
            </div>
            <div>
                <label class="item item-input">
                    <input type="text" placeholder="Password" ng-model='user.password'>
                </label>
            </div>
            <div>
                <label class="item item-input">
                    <input type="text" placeholder="Name" ng-model='user.username'>
                </label>
            </div>
            <a href="#" ng-click='createUser(user)' class="button button-stable button-block ">Sign up</a>
        </form>
        <div class="spacer" style="height: 100px;"></div>
    </ion-content>
</ion-view>