<ion-view title="Your Account">
    <ion-content padding="true" class="has-header">
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; width: 100%; height: 185px; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <div>
            <label class="item item-input">
                <input type="text" placeholder="Profile Name" ng-model='user.nickname'>
            </label>
        </div>
        <div>
            <label class="item item-input">
                <input type="text" placeholder="Age" ng-model='user.age'>
            </label>
        </div>
        <div>
            <label class="item item-input" style="height: 100px">
                <input type="text" placeholder="Tell us more about yourself" ng-model='user.profileDesc'>
            </label>
        </div>
        <div class="spacer" style="width: 300px; height: 15px;"></div>
        <a href="#" ng-click='updateUser(user)' class="button button-stable button-block ">Save</a>
        <button class="button button-energized button-block " ng-click='logout()'>Logout</button>
    </ion-content>
</ion-view>
