<ion-view view-title="Following">
 <ion-content padding="true">
    <div class="list">
      <a class="button button-block button-energized">
        Luggage Request
        </button>
      </a>
      <a class="button button-block button-calm">
        Joined Thread 1
        </button>
      </a>
      <a class="button button-block button-calm">
        Joined Thread 2
        </button>
      </a>
    </div>
  </ion-content>
</ion-view>