<ion-view view-title="Flights">
  <ion-nav-buttons side="right">
    <a href="" class="button button-clear icon ion-plus"></a>
  </ion-nav-buttons>
  <ion-content>
    <a class="button button-calm button-full" href="#/forum" id="flight1Button">
      <div class="flightButtonText">SQ 123</div>
    </a>
    <button class="button button-energized button-full"  id="flight2Button">
      <div class="flightButtonText">SQ 456</div>
    </button>
  </ion-content>
</ion-view>