<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  <!-- Flights Tab -->
  <ion-tab title="Flights" icon-off="ion-ios-paperplane-outline" icon-on="ion-ios-paperplane" href="#/tab/flights">
    <ion-nav-view name="tab-flights"></ion-nav-view>
  </ion-tab>
  
  <!-- Favourites Tab -->
  <ion-tab title="Following" icon-off="ion-ios-star-outline" icon-on="ion-ios-star" href="#/tab/following">
    <ion-nav-view name="tab-following"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab
  <ion-tab title="Chats" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab> -->

  <!-- Account Tab -->
  <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>
</ion-tabs>
