<ion-view view-title="New Travel Plan">
  <ion-content padding="true" class="has-header">
    <label class="item item-input item-select">
      <div class="input-label">
        I am:
      </div>
      <select>
          <option>leaving from Airport</option>
          <option>going to Airport</option>
      </select>
    </label>
    <label class="item item-input">
      <input type="text" placeholder="Tell people where you are heading to/coming from!" ng-model='travel.title'>
    </label>
	<label class="item item-input">
      <textarea placeholder="Trip description" ng-model='travel.desc'></textarea>
    </label>

    <a href="#" ng-click='addThread(travel)' class="button button-large">Submit</a>
  </ion-content>
</ion-view>