<ion-view view-title="Travel">
  <ion-nav-buttons side="right">
    <a href="#/travelnew" class="button button-clear icon ion-plus"></a>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="list" ng-repeat='thread in threads|filter:{type:"Travel"}'>
      <a href="#" ng-click='detailShow(thread.$id)' class="item item-avatar">
        <img src="img/Terence Lim.jpg">
        <h4>{{thread.creatorName}}</h4>
        <p>{{thread.tripDesc}}</p>
      </a>
    </div>
  </ion-content>
</ion-view>