<ion-view view-title="Travel Details">
  <ion-content>
    <ion-scroll direction="xy" >
      <div class="item item-avatar">
        <img src="img/Terence Lim.jpg">
        <h2>{{detailThread.creatorName}}</h2>
        <h3>{{detailThread.tripTitle}}</h3>
      </div>

    <div class="item item-body">
      <h3>Trip description</h3>
      <p>
        {{detailThread.tripDesc}}
      </p>
    </div>

      <div class="item item-body">
        <h3>Interested Parties:</h3>
        <img src="">
      </div>

      <label class="item item-input">
        <input type="text" placeholder="Post a comment" ng-model='theComments'>
      </label>

        <h5>All Comments</h5>
        <div class="list" ng-repeat='comment in comments'>
          <a class="item item-avatar" href="#">
            <img src="img/GianJX.jpg">
            <h3>{{comment.name}}</h3>
            <div class="item item-text-wrap">
              <p>{{comment.desc}}</p>
            </div>
          </a>
        </div>

      <div class="button-bar">
        <a class="button" ng-click='addComment(theComments)'>Chat</a>
        <a class="button">Join</a>
      </div>
    </ion-scroll>
  </ion-content>
</ion-view>