/* Empty. Add your own CSS if you like */
#firstPageImg {
  text-align: center;
}

#flight1Button, #flight2Button {
  height: 100px;
}

.flightButtonText {
  color: white;
  font-family: Century Gothic;
  font-size: 25px;
  font-weight: bold;
  width: 90%;
  position: absolute;
  top: 25px;
}

#LuggageButton {
  background-size: 100% 100%;
  height: 150px;
  max-height: 200px;
  position: relative;
  opacity: 0.9;
}

#LuggageText{
  color: white;
  font-family: Century Gothic;
  font-size: 25px;
  font-weight: bold;
  width: 100%;
  position: absolute;
  top: 55px;
}


#TravelButton {
  background-size: 100% 100%;
  height: 150px;
  position: relative;
  opacity: 0.9;
}

#TravelText{
  color: white;
  font-family: Century Gothic;
  font-size: 25px;
  font-weight: bold;
  width: 90%;
  position: absolute;
  top: 55px;
}

#RecButton {
  background-size: 100% 100%;
  height: 150px;
  position: relative;
  opacity: 0.8;
}

#RecText{
  color: #FFFFFF;
  font-family: Century Gothic;
  font-size: 25px;
  font-weight: bold;
  width: 90%;
  position: absolute;
  top: 55px;
}

#tripDetailsDesc {
  padding-top: 0px;
}

#tripDetailsParties {
  padding-top: 10px;
  padding-bottom: 10px;
}

.interestedPeople {
  display: inline;
  vertical-align: top;
}

.interestedPeople img {
  height: 32px;
  width: 32px;
  margin-left: 10px;
  border-radius: 100%;
}

#AllComments {
  margin-left: 15px;
}

.commentText {
  padding: 0px 5px 0px 5px;
}

.submitButton {
  margin-top: 20px;
}

.followingButton {
  height: 100px;
}

.followingText {
  color: white;
  font-family: Century Gothic;
  font-size: 25px;
  font-weight: bold;
  width: 90%;
  position: absolute;
  top: 25px;
}